body {
  // #f73605
  background-color: #13072F !important;
  color: white;
}

.tagnav {
  // background-color: #13072F !important;
  padding: 1rem !important;

  & a {
    color: #fff !important;
    text-decoration: none !important;
    margin: 0 .5rem !important;
  }
}

// ตั้งค่าประกาศตัววิ่งหน้าเว็บ
.marquee {
  width: 100% !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  box-sizing: border-box !important;
  background-color: #13072F;
}

.marquee p {
  color: #fff;
  display: inline-block !important;
  padding-left: 20% !important;
  animation: marquee 25s linear infinite !important;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.font-gradient {
  background: linear-gradient(9deg, #00ffff, #ff00c3) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
