// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

@import '../../public/fonts/ThSarabunNew/thsarabunnew';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome 6.3.0
@import '~@fortawesome/fontawesome-free/css/all';

*{ margin: 0; padding: 0; }
body{ font-family: 'thsarabunnew', sans-serif; font-size: 0.95em; line-height: 1.7em;  scroll-behavior: smooth;}
h1,h2,h3,h4,h5{ line-height: 2em; clear: both; margin-bottom: 0 !important;}
h2{ padding: 0 10px; color: #000; margin: 5px 0 0 0; }
p{ padding: 0; margin-bottom: 0 !important;}
.n{ font-weight: normal; font-style: normal; }
.b{ font-weight: bold; font-style: normal; }
.i{ font-weight: normal; font-style: italic; }
.bi{ font-weight: bold; font-style: italic; }
ul,ol{padding: 0;}
li{ margin: 0 0 0 0em; padding: 0; }
code{ background: #FFF; }
#container{ width: 900px; margin: 20px auto 0; border: 1px solid #333; padding: 20px; background: #FFF; }
#instruction{ padding: 10px 10px 0; background: #e6e6e6; }
#footer{ width: 940px; margin: 0 auto; padding: 10px 0 20px; }
.right{text-align: right;}
.type{ font-family: 'Prompt', sans-serif; height: 5em; width: 98%;font-size: 1em;clear: both;margin: 20px auto 10px;padding: 5px 1%; }
input[type="submit"]{font-weight: normal; font-style: normal;}